[access]
	inheritFrom = All-Projects
[project]
	description = Source code for 
[access "refs/*"]
	owner = group user/Sakshi Arora (Sakshiaro)
[access "refs/for/refs/*"]
	read = group user/Sakshi Arora (Sakshiaro)
	push = group user/Sakshi Arora (Sakshiaro)
	label-Code-Review = -2..+2 group user/Sakshi Arora (Sakshiaro)
	label-Verified = -1..+1 group user/Sakshi Arora (Sakshiaro)
	rebase = group user/Sakshi Arora (Sakshiaro)
	removeReviewer = group user/Sakshi Arora (Sakshiaro)
	submit = group user/Sakshi Arora (Sakshiaro)
[access "refs/heads/*"]
	read = group user/Sakshi Arora (Sakshiaro)
	create = group user/Sakshi Arora (Sakshiaro)
	push = +force group user/Sakshi Arora (Sakshiaro)
	pushMerge = group user/Sakshi Arora (Sakshiaro)
[access "refs/tags/*"]
	push = group user/Sakshi Arora (Sakshiaro)
	push = +force group user/Sakshi Arora (Sakshiaro)
